*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #ffffff;
  min-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.top-buttons {
  display: flex;
  justify-content: flex-end;
}

.logoutButton, .clear-btn, .theme-btn {
  cursor: pointer;
  margin: 0.5rem;
}

.logoutButton {
  background: transparent;
  border: none;
  color: #9CA3AF;
  font-size: 14px;
}

.logoutButton:hover {
  color: #111;
}

.clear-btn {
  background: transparent;
  border: none;
  color: #6B7280;
  font-size: 14px;
}

.clear-btn:hover {
  color: #111;
}


.theme-btn {
  background: #F3F4F6;
  color: #374151;
  border: none;
  padding: 6px 12px;
  border-radius: 999px; /* pill */
  font-size: 14px;
}


.input-box {
  display: flex;
  margin: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.input-box button {
  padding: 10px 16px;
  font-size: 1rem;
  border: none;
  background: #FAD342;
color: #111;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-input {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.right button {
  margin-left: 10px;
  background: none;
  border: none;
}

.header {
  display: flex;
  align-items: center;
}

.date-label {
  font-size: 14px;
  color: #6B7280; /* soft gray */
}

.authForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.authForm h2 {
    /* margin-bottom: 10px; */
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.authPara {
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: #666;
    font-style: italic;
}

.authForm h3 {
    font-size: 1.5rem;
}

.authForm input {
    padding: 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    border: 1px solid #333;
    background-color: #f5f5f5;
}

.authBtn {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 0.9rem;
    background-color: #FAD342;
    border: none;
    border-radius: 4px;
}

.switchForm {
    font-size: 0.85rem;
}

.link-btn {
    background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
}